// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #1d0663;
$dark: #212121b6;
$info: #47beba;
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here
.custom-bg {
  background: linear-gradient(112.51deg, #c1d3ff 0%, #dcf5f7 49%, #fcd9e9 100%);
}
.animated-slider {
  animation: slider 50s linear infinite;
  // animation-range-start: view;
  //   overflow: hidden;
}
@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: "850px") and (max-width: "1024px") {
  .custom-div {
    border-radius: 0px 0px 5000px 2000px;
  }
}

.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  border: #1d0663 1px solid;
  color: hsl(217, 88.8%, 35.1%);
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
